<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/6962be8190.js"
      crossorigin="anonymous"
    ></script>
    <script src="./index.js"></script>
  </body>
</html>
